{% if pagination.getIsPager() %}
<div class="pagination-wrap" >
    <ul class="pagination justify-content-center">
        {%- for page in pagination.pages.getPages() -%}
            <li class="page-item{% if page.active %} active{% endif %}"><a class="page-link" href="{{ page.href }}">{{ page.value }}</a></li>
        {%- endfor -%}
    </ul>
</div>
{% endif %}